/*Beging style send*/
.row
{
	justify-content: center;
	margin-top: 110px;
}

img
{
	width: 320px;height: 210px;
}

.card
{
    font-family: 'Lobster', cursive;
    color: #750000;
}
/*End style send*/